<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       <title>Garage - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
           {#<img src='https://loremflickr.com/320/240/cars' alt="">#}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"><strong>Symfogarage</strong></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('vente') }}">Nos ventes</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Mon compte</a>
                    </li>
                </ul>
            </div>
        </nav>        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{message | raw}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block footer %}
        <footer  class="mt-5 py-5 text-center">Copyright © - EPSE 2019</footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
